@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FAFAF8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:11px;
  background-color: white;
  
  height:80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10),0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img{
  width: 50px;

}
header> h1{
  font-size: 2rem;
  font-weight: 400;

}

main{
  padding: 30px 30px 10px;
}

.add-ingredient-form{
  display: flex;
  justify-content: center;
  gap:12px;
  /* height: 30px; */
}

.add-ingredient-form > input{
  border-radius: 6px;
  border: 1px solid #D1D5D8;
padding: 9px 13px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) ;
flex-grow: 1;
min-width: 150px;
max-width: 400px;
}

.add-ingredient-form > button{
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border:none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
  
}

.add-ingredient-form>button::before{
  content: "*";
  margin-right: 3px;
}

.get-recipe-container{
 
  min-width: 200px;
  max-width: 800px;
 
}

.ingredients-list{
  margin: 8px;
  list-style:inside;
}


.suggested-recipe-container{
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}
